Int2 WinSize 1000 800
Float3 VoxelPos 0 0 0
Float3 VoxelSize 3 3 3
Int VoxelRes 2048
# Similarity Test 0: PureSimilarity, 1: NeigborhoodSimilarity, 2: EMD, 3: DistanceField
Int SimilarityTest 0
Float Similarity 2
Bool DebugSetup false
String DebugDir Test/
Bool StoreVoxelization false
String VoxelStorePath Voxel.vx
Bool LoadVoxelization false
String VoxelLoadPath Voxel.vx

Bool Voxelize true

Bool LoadTree false
String TreeLoadPath Dragon_16k.tr

String SceneName Pillar
Float HorizontalLightDir 315
Float VerticalLightDir 45
Float3 ScenePosition -2 -2 0
Float3 SceneScale 2 2 2
Float3 SceneRotation 90 0 0

Bool Renormalize false
Bool BackFaceCulling false
